
body {
background-color:floralwhite;}
div#content {
margin-left:20%;
margin-right:20%;
background-color:ivory;}
div.guitar {
font-family:monospace;
font-size:20px;
color:#808000;
white-space:nowrap;
margin:1em;}
div.cello {
font-family:monospace;
font-size:20px;
color:#008080;
white-space:nowrap;
margin:1em;}
div.ui_x {
text-align:center;}
button.bttn{
background-color:cornsilk;
border-color:transparent;
font-family:sans-serif;
font-size:16px;
color:peru;
padding:10px;
cursor:pointer;}
p.attr {
text-align:center;
font-family:sans-serif;
font-size:12px;
color:#cdcdcd;
margin-top:3em;}
 
