
body {
 background-color:#fffff0;}
table { 
 margin-left:auto;
 margin-right:auto;} 
div.gutr {
 font-family:monospace;
 font-size:28px;
 color:#808000;
 white-space:nowrap;} 
div.mndln {
 font-family:monospace;
 font-size:28px;
 color:#808000;
 white-space:nowrap;
 padding:0.3em;}
input.button { 
 background-color:#fffafa;
 border-color:#f5deb3;
 color: #a0522d;
 padding:5px;
 margin:10px;
 position:relative;} 
div.nav { 
 text-align:center;
 white-space:nowrap; 
 margin-top:2em;}
span.nav {
 margin:2em;
 position:absolute;}
a:link {
 text-decoration:none;
 color:saddlebrown; }
a:visited {
 text-decoration:none; 
 color:saddlebrown; }
a:hover {
 text-decoration:none; 
 color:peru;
 background-color:ivory; }
a:active {
 text-decoration:none; 
 color:peru; }
div.attr {
 text-align:center;
 font-family:monospace;
 font-size:12px;
 color:#deb887;
 white-space:nowrap;
 margin-top:3em; } 
 