
body {
  background-color:#fffff0;
}
h3 {
  text-align:center;
  font-family:sans-serif;
  color:#808080;
}
.signet-list {
  width:640px;
  margin-left:auto;
  margin-right:auto;
  white-space:nowrap;
  font-family:monospace;
  font-size:16px;
  color:#2f4f4f;
}
.attr {
  text-align:center;
  font-family:sans-serif;
  font-size:12px;
  color:#696969;
  margin:3em;
}

