
body {
  background-color:#f0e68c;
}
table {
  margin-left:auto;
  margin-right:auto;
}
td {
  width:500px;
  border:1px solid #d2b48c;
  padding:0 0 0 28px;
  background-color:#fffff0;
  font-family:monospace;
  font-size:14px;
  color:#800000;
  white-space:nowrap;
  overflow:hidden;
}
#lc {
  vertical-align:middle;
}
#rc {
  vertical-align:top;
}

