
body {
  background-color:#fffff0;
}
#content {
  margin-left:2%;
  margin-right:2%;
}
.lapis {
  margin-top:99px;
}
.view {
  text-align:center;
  font-family:monospace;
  font-size:20px;
  white-space:nowrap;
  margin:32px 0 16px 0;
}
.guitar {
  color:#808000;
}
.cello {
  color:#008080;
}
.ui_x {
  text-align:center;
}
.bttn {
  margin:4px 0 4px 0;
  border:1px solid #a9a9a9;
  border-radius:6px;
  background-color:#fff8dc;
  font-family:monospace;
  font-size:16px;
  color:peru;
  padding:4px;
  cursor:pointer;
}
button:hover {
  border-color:#808080;
  background-color:#fffff0;
  color:sienna;
}
.attr {
  text-align:center;
  font-family:monospace;
  font-size:14px;
  color:#808080;
  margin-top:2em;
}

